.navbar {
  padding: 10px 0;
  margin: 0;
  background-color: #0288D1;
}

.navbar-toogle {
  color: #fff;
}

.navbar-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 210px;
  margin: 0;
  padding: 0;
  z-index: 9998;
  background-color: #154360;
  list-style: none;
}

.navbar-usuario {
  padding: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #1F618D;
  color: #85C1E9;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-menuitem {
  padding: 15px;
}

.navbar-menuitem a {
  color: #5DADE2;
  text-decoration: none;
}

.navbar-menuitem a:hover {
  color: #85C1E9;
}
